html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

//////////////////////////////////////////////////
//////////////////////////////////////////////////
/// Styling Starts here
//////////////////////////////////////////////////

:root {
    // Primary
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);

    // Neutral
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}

* {
    font-family: Poppins, Georgia, 'Times New Roman', Times, serif;
}

body {
    min-height: 100vh;
    display: flex;
    position: relative;
}

main {
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: center;

    header {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        h1 {
            font-size: 2rem;
            line-height: 1.2;
            color: var(--Very-Dark-Blue);

            strong {
                font-weight: 600;
            }
        }

        p {
            font-size: 1rem;
            line-height: 1.5;
            color: var(--Grayish-Blue);
        }
    }

    section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        gap: 1.5rem;
        max-width: 72rem;
        box-sizing: border-box;

        article {
            display: flex;
            flex-direction: column;
            border-radius: 0.45rem;
            padding: 1.5rem;
            text-align: left;
            gap: 1rem;
            box-shadow: 0 0.5rem 0.75rem hsla(212, 86%, 40%, 0.15);
            box-sizing: border-box;
            max-width: 100%;

            h2 {
                font-size: 1.5rem;
                font-weight: 600;
                color: var(--Very-Dark-Blue);
            }

            p {
                font-size: 0.925rem;
                line-height: 1.5;
                color: var(--Grayish-Blue);
                margin-bottom: 1rem;
                margin-right: 1rem;
            }

            img {
                align-self: flex-end;
            }
        }

        article.supervisor {
            border-top: 4px solid var(--Cyan);
        }

        article.team-builder {
            border-top: 4px solid var(--Red);
        }

        article.karma {
            border-top: 4px solid var(--Orange);
        }

        article.calculator {
            border-top: 4px solid var(--Blue);
        }

        div {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }
    }
}

@media (max-width: 478px) {
    body {
        padding: 3rem 1.5rem;

        main {
            max-width: 100%;

            section {
                display: flex;
                flex-direction: column;
                max-width: 100%;

                p {
                    margin-bottom: 1.5rem;
                }

                div {
                    flex-direction: column;
                }
            }
        }
    }
}
